name: Slither Analysis

on:
  pull_request:
permissions: read-all

jobs:
  analyze:
    name: Run Slither
    runs-on: ubuntu-latest
    permissions:
      contents: read
      security-events: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Get Diff
        uses: technote-space/get-diff-action@v6.1.2
        with:
          PATTERNS: |
            **/*.sol
      - name: Setup Node.js and pnpm
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'pnpm'
      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 9
      - name: Node dependencies Install
        run: |
          cd contracts && pnpm install
          cp -r node_modules/@openzeppelin .
      - name: Run Slither Action
        uses: crytic/slither-action@v0.4.0
        continue-on-error: true
        id: slither
        with:
          target: contracts/
        if: "env.GIT_DIFF"