name: Solidity Test
on:
  merge_group:
  pull_request:
  push:
    branches:
      - main
      - release/**
permissions: read-all

jobs:
  test-solidity:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@v5
        with:
          go-version: '1.25'
          check-latest: true
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: '20'
      - uses: technote-space/get-diff-action@v6.1.2
        with:
          PATTERNS: |
            **/**.sol
            **/**.go
            go.mod
            go.sum
            *.toml
      - name: Cache yarn dependencies
        uses: actions/cache@v4
        with:
          path: tests/solidity/node_modules
          key: ${{ runner.os }}-yarn-${{ hashFiles('tests/solidity/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-
      - name: Test Solidity
        run: |
          make test-solidity
        if: env.GIT_DIFF
