name: E2E Nix Tests
on:
  push: 
    branches:
      - main
      - release/**
  pull_request:
    branches:
      - main
      - release/**

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  integration_tests:
    runs-on: ubuntu-latest
    timeout-minutes: 240
    strategy:
      matrix:
        tests: [all]
    env:
      TESTS_TO_RUN: ${{ matrix.tests }}
    steps:
      - name: Create more disk space
        run: sudo rm -rf /usr/share/dotnet && sudo rm -rf /opt/ghc && sudo rm -rf "/usr/local/share/boost" && sudo rm -rf "$AGENT_TOOLSDIRECTORY"
      - uses: actions/checkout@v3
        with:
          submodules: recursive
          fetch-depth: 1
      - id: changed-files
        uses: tj-actions/changed-files@ed68ef82c095e0d48ec87eccea555d944a631a4c # v46.0.5
        with:
          files: |
            docs
            *.md
            **/*.md
      - uses: cachix/install-nix-action@ba0dd844c9180cbf77aa72a116d6fbc515d0e87b # v27
        with:
          nix_path: nixpkgs=channel:nixos-25.05
          extra_nix_config: |
            access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}
            sandbox = false
        if: steps.changed-files.outputs.only_changed == 'false'
      - uses: DeterminateSystems/magic-nix-cache-action@main
        if: steps.changed-files.outputs.only_changed == 'false'
      - name: Run integration tests
        if: steps.changed-files.outputs.only_changed == 'false'
        run: make test-e2e-nix
      - name: 'Tar debug files'
        if: failure()
        run: tar cfz debug_files.tar.gz -C "${TMPDIR-/tmp}/pytest-of-runner" .
      - uses: actions/upload-artifact@v4
        if: failure()
        with:
          name: debug-files-${{ matrix.tests }}
          path: debug_files.tar.gz
          if-no-files-found: ignore
